@import "./normalize.css";

:root {
  --font-size: 0.14rem;
}

*{
  margin: 0;
  padding: 0;
}
body,p,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  border: none;
  vertical-align: middle;
}
a{
  color: #333333;
  text-decoration: none;
}

i{
  font-style: normal;
}
input{
  margin: 0;
  padding: 0;
  outline: none;
}
bottom{
  outline: none;
}
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  padding: 0;
  margin: 0;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  /* rem vw/vh */
  width: 100vw;
  background: #f5f5f5;
  font-size: 14px;
}